In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv('./notebooks/merged_file.csv')

In [3]:
json_df = pd.read_json('./notebooks/combined_all_artifacts.json')

In [4]:
# Check the number of rows and columns
num_rows, num_columns =json_df.shape

In [5]:
num_rows

2269

In [6]:
# Step 1: Merge the two DataFrames on image_id (df) and object_number (json_df)
# Use a left merge to retain all rows from df
merged_df = pd.merge(df, json_df, left_on='image_id', right_on='object_number', how='left')

# Step 2: Update the artifact_title in df with the values from the merged json_df
# Fill the missing values in the artifact_title column with the new values from json_df
merged_df['artifact_title'] = merged_df['artifact_title_y'].combine_first(merged_df['artifact_title_x'])

# Drop unnecessary columns after merge
merged_df = merged_df.drop(columns=['artifact_title_x', 'artifact_title_y', 'object_number', 'object_number_x', 'object_number_y'])

merged_df = merged_df.drop_duplicates(subset=['image_id'])

# Step 3: Save the updated DataFrame to a CSV file
merged_df.to_csv('updated_artifacts.csv', index=False)

# Display the updated DataFrame
print(merged_df)

     image_id         image_path archaeology_area creator  \
0       10005   images\10005.jpg              NaN     NaN
1       10006   images\10006.jpg              NaN     NaN
2       10007   images\10007.jpg              NaN     NaN
3       10115   images\10115.jpg              NaN     NaN
4       10121   images\10121.jpg              NaN     NaN
...       ...                ...              ...     ...
7801   SA2909  images\SA2909.jpg              NaN     NaN
7802   SA2944  images\SA2944.jpg              NaN     NaN
7803   SA4559  images\SA4559.jpg              NaN     NaN
7804   SA4560  images\SA4560.jpg              NaN     NaN
7805   SA4601  images\SA4601.jpg              NaN     NaN

                                            credit_line  \
0                       Gift of Charles C. Abbott, 1892
1                       Gift of Charles C. Abbott, 1892
2                       Gift of Charles C. Abbott, 1892
3     Delaware River Valley Expedition, Charles C. A...
4     Delaware River Valley Expedition, Charles C. A...
...                                                 ...
7801                    Gift of Miss Beatrice Fox, 1918
7802      Peruvian Expedition, William C. Farabee, 1923
7803      Chilean Expedition, Willliam C. Farabee, 1923
7804      Chilean Expedition, Willliam C. Farabee, 1923
7805      Peruvian Expedition, William C. Farabee, 1923

                culture_area  culture  \
0     Northeast Culture Area      NaN
1     Northeast Culture Area      NaN
2     Northeast Culture Area      NaN
3     Northeast Culture Area      NaN
4     Northeast Culture Area      NaN
...                      ...      ...
7801        Central American      NaN
7802                  Andean    Nasca
7803                  Andean  Mapuche
7804                  Andean  Mapuche
7805                  Andean    Nasca

                                     current_location     date_made  depth  \
0                                 Collections Storage           NaN    NaN
1                                 Collections Storage           NaN    NaN
2                                 Collections Storage           NaN    NaN
3                                 Collections Storage           NaN    NaN
4                                 Collections Storage           NaN    NaN
...                                               ...           ...    ...
7801  Mexico and Central America Gallery - On Display   700-1522 CE    NaN
7802                              Collections Storage  400 - 700 CE  15 cm
7803                              Collections Storage           NaN    NaN
7804                              Collections Storage           NaN    NaN
7805                              Collections Storage   300-100 BCE    NaN

      ... outside_diameter      period  \
0     ...              NaN         NaN
1     ...              NaN         NaN
2     ...              NaN         NaN
3     ...              NaN         NaN
4     ...              NaN         NaN
...   ...              ...         ...
7801  ...              NaN         NaN
7802  ...              NaN  Late Nasca
7803  ...         13.97 cm         NaN
7804  ...              NaN         NaN
7805  ...              NaN         NaN

                                            provenience   section site_name  \
0     United States of America | New Jersey | Burlin...  American       NaN
1     United States of America | New Jersey | Burlin...  American       NaN
2     United States of America | New Jersey | Burlin...  American       NaN
3     United States of America | New Jersey | Burlin...  American       NaN
4     United States of America | New Jersey | Burlin...  American       NaN
...                                                 ...       ...       ...
7801                                         Costa Rica  American       NaN
7802                              Peru | Nazca District  American       NaN
7803                                              Chile  American       NaN
7804                                              Chile  American       NaN
7805                          Peru | Paracas Necropolis  American       NaN

     subject    technique thickness    width    artifact_title
0        NaN      Chipped       NaN   5.5 cm  Projectile Point
1        NaN      Chipped       NaN   4.6 cm  Projectile Point
2        NaN      Chipped       NaN   4.9 cm             Stone
3        NaN          NaN       NaN     9 cm              Celt
4        NaN          NaN       NaN     5 cm         Implement
...      ...          ...       ...      ...               ...
7801     NaN          NaN       NaN  5.08 cm          Ornament
7802     NaN   Polychrome       NaN    15 cm            Vessel
7803     NaN     Hammered       NaN      NaN         Shawl Pin
7804     NaN     Hammered       NaN      NaN         Shawl Pin
7805     NaN  Embroidered       NaN   254 cm            Mantle

[7806 rows x 31 columns]

In [9]:
print(merged_df['artifact_title'].isna().sum())

69

In [10]:
# Read JSON file and convert it to DataFrame
j_df = pd.read_json('datasets.json')

# Save the DataFrame to a CSV file
j_df.to_csv('j_data.csv', index=False)

print("CSV file saved successfully!")

CSV file saved successfully!

In [11]:
df_amal = pd.read_csv("updated_artifacts.csv")
df_jrna = pd.read_csv("j_data.csv")

In [12]:
df_amal.head()

,image_id,image_path,archaeology_area,creator,credit_line,culture_area,culture,current_location,date_made,depth,...,outside_diameter,period,provenience,section,site_name,subject,technique,thickness,width,artifact_title
0,10005,images\10005.jpg,NaN,NaN,"Gift of Charles C. Abbott, 1892",Northeast Culture Area,NaN,Collections Storage,NaN,NaN,...,NaN,NaN,United States of America | New Jersey | Burlin...,American,NaN,NaN,Chipped,NaN,5.5 cm,Projectile Point
1,10006,images\10006.jpg,NaN,NaN,"Gift of Charles C. Abbott, 1892",Northeast Culture Area,NaN,Collections Storage,NaN,NaN,...,NaN,NaN,United States of America | New Jersey | Burlin...,American,NaN,NaN,Chipped,NaN,4.6 cm,Projectile Point
2,10007,images\10007.jpg,NaN,NaN,"Gift of Charles C. Abbott, 1892",Northeast Culture Area,NaN,Collections Storage,NaN,NaN,...,NaN,NaN,United States of America | New Jersey | Burlin...,American,NaN,NaN,Chipped,NaN,4.9 cm,Stone
3,10115,images\10115.jpg,NaN,NaN,"Delaware River Valley Expedition, Charles C. A...",Northeast Culture Area,NaN,Collections Storage,NaN,NaN,...,NaN,NaN,United States of America | New Jersey | Burlin...,American,NaN,NaN,NaN,NaN,9 cm,Celt
4,10121,images\10121.jpg,NaN,NaN,"Delaware River Valley Expedition, Charles C. A...",Northeast Culture Area,NaN,Collections Storage,NaN,NaN,...,NaN,NaN,United States of America | New Jersey | Burlin...,American,NaN,NaN,NaN,NaN,5 cm,Implement

In [13]:
df_jrna.head()

,name,image_path,Object Number,Current Location,Provenience,Site Name,Locus,Section,Materials,Description,...,Inscription Language,Iconography,Technique,Native Name,Manufacture Location,Depth,Creator,Object Title,Site Number,Subject
0,Pebble,/collections/assets/108532_800.jpg,63-1-7A,Collections Storage,Cyprus | Kourion | Sotira Teppes,Kourion,"Floor III, House 5",Mediterranean,Stone | Jasper,Red jasper pebble.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Coin,/collections/assets/343357_800.jpg,29-127-1376,Collections Storage,Korea | Jeolla,NaN,NaN,Asian,Bronze,Obv. 常平通寶 Sangpyeong tongbo. Mint Mark: 全. Iss...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bowl,/collections/assets/103444_800.jpg,37-13-176,Collections Storage,Guatemala | Department of Jutiapa | Asuncion M...,NaN,NaN,American,Ceramic,"small low bowl, molded to resemble half of gou...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Knife Sheath,/collections/assets/641642_800.jpg,52-17-2C,Collections Storage,Borneo,NaN,NaN,Oceanian,Bark | Metal,One piece of bark sheath. Strip of metal wrapp...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Tray,/collections/assets/854546_800.jpg,NA7634,Collections Storage,Alaska,NaN,NaN,American,Wood | Shell | Pigment,Shallow tray carved from one piece of wood. Re...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
print(df_amal.columns)
print(df_jrna.columns)

Index(['image_id', 'image_path', 'archaeology_area', 'creator', 'credit_line',
       'culture_area', 'culture', 'current_location', 'date_made', 'depth',
       'description', 'height', 'iconography', 'inscription_language',
       'length', 'locus', 'manufacture_location', 'materials', 'native_name',
       'object_title', 'other_number', 'outside_diameter', 'period',
       'provenience', 'section', 'site_name', 'subject', 'technique',
       'thickness', 'width', 'artifact_title'],
      dtype='object')
Index(['name', 'image_path', 'Object Number', 'Current Location',
       'Provenience', 'Site Name', 'Locus', 'Section', 'Materials',
       'Description', 'Length', 'Width', 'Thickness', 'Credit Line',
       'Other Number', 'Culture', 'Period', 'Date Made', 'Culture Area',
       'Height', 'Outside Diameter', 'Archaeology Area',
       'Inscription Language', 'Iconography', 'Technique', 'Native Name',
       'Manufacture Location', 'Depth', 'Creator', 'Object Title',
       'Site Number', 'Subject'],
      dtype='object')

In [15]:
df_amal.columns = ['Object Number', 'image_path', "Archaeology Area", "Creator", "Credit Line", "Culture Area", "Culture", 
                  "Current Location", "Date Made", "Depth", "Description", "Height", "Iconography", "Inscription Language",
                  "Length", "Locus", "Manufacture Location", "Materials", "Native Name", "Object Title", "Other Number",
                  "Outside Diameter", "Period", "Provenience", "Section", "Site Name", "Subject", "Technique", "Thickness",
                  "Width", "name"]

In [16]:
df_amal.columns

Index(['Object Number', 'image_path', 'Archaeology Area', 'Creator',
       'Credit Line', 'Culture Area', 'Culture', 'Current Location',
       'Date Made', 'Depth', 'Description', 'Height', 'Iconography',
       'Inscription Language', 'Length', 'Locus', 'Manufacture Location',
       'Materials', 'Native Name', 'Object Title', 'Other Number',
       'Outside Diameter', 'Period', 'Provenience', 'Section', 'Site Name',
       'Subject', 'Technique', 'Thickness', 'Width', 'name'],
      dtype='object')

In [17]:
# Check the number of rows and columns
num_rows, num_columns = df_amal.shape

# Display the result
print(f"Number of rows for Amal's df: {num_rows}")
print(f"Number of columns Amal's df: {num_columns}")

Number of rows for Amal's df: 7806
Number of columns Amal's df: 31

In [18]:
# Check the number of rows and columns
num_rows, num_columns = df_jrna.shape

# Display the result
print(f"Number of rows for Jrna's df: {num_rows}")
print(f"Number of columns Jrna's df: {num_columns}")

Number of rows for Jrna's df: 14944
Number of columns Jrna's df: 32

In [19]:
len(df_jrna[df_jrna['Site Number'].isna()])

14942

In [20]:
# Drop the 'material' column and save in the same variable
df_jrna.drop(columns=['Site Number'], inplace=True)

In [21]:
df_jrna.head()

,name,image_path,Object Number,Current Location,Provenience,Site Name,Locus,Section,Materials,Description,...,Archaeology Area,Inscription Language,Iconography,Technique,Native Name,Manufacture Location,Depth,Creator,Object Title,Subject
0,Pebble,/collections/assets/108532_800.jpg,63-1-7A,Collections Storage,Cyprus | Kourion | Sotira Teppes,Kourion,"Floor III, House 5",Mediterranean,Stone | Jasper,Red jasper pebble.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Coin,/collections/assets/343357_800.jpg,29-127-1376,Collections Storage,Korea | Jeolla,NaN,NaN,Asian,Bronze,Obv. 常平通寶 Sangpyeong tongbo. Mint Mark: 全. Iss...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bowl,/collections/assets/103444_800.jpg,37-13-176,Collections Storage,Guatemala | Department of Jutiapa | Asuncion M...,NaN,NaN,American,Ceramic,"small low bowl, molded to resemble half of gou...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Knife Sheath,/collections/assets/641642_800.jpg,52-17-2C,Collections Storage,Borneo,NaN,NaN,Oceanian,Bark | Metal,One piece of bark sheath. Strip of metal wrapp...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Tray,/collections/assets/854546_800.jpg,NA7634,Collections Storage,Alaska,NaN,NaN,American,Wood | Shell | Pigment,Shallow tray carved from one piece of wood. Re...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# Reindex df2 columns to match the order of df1
df_jrna = df_jrna.reindex(columns=df_amal.columns)

# Concatenate the DataFrames
combined_df = pd.concat([df_amal, df_jrna], ignore_index=True)
print(combined_df)

      Object Number                          image_path Archaeology Area  \
0             10005                    images\10005.jpg              NaN
1             10006                    images\10006.jpg              NaN
2             10007                    images\10007.jpg              NaN
3             10115                    images\10115.jpg              NaN
4             10121                    images\10121.jpg              NaN
...             ...                                 ...              ...
22745        B17163  /collections/assets/199240_800.jpg            PG 89
22746        B14501  /collections/assets/569000_800.jpg              NaN
22747        B14491  /collections/assets/568903_800.jpg              NaN
22748     31-16-280  /collections/assets/142255_800.jpg              NaN
22749     31-16-279  /collections/assets/142238_800.jpg              NaN

      Creator                                        Credit Line  \
0         NaN                    Gift of Charles C. Abbott, 1892
1         NaN                    Gift of Charles C. Abbott, 1892
2         NaN                    Gift of Charles C. Abbott, 1892
3         NaN  Delaware River Valley Expedition, Charles C. A...
4         NaN  Delaware River Valley Expedition, Charles C. A...
...       ...                                                ...
22745     NaN  British Museum/University Museum Expedition to...
22746     NaN               Bequest of Maxwell Sommerville, 1904
22747     NaN               Bequest of Maxwell Sommerville, 1904
22748     NaN  British Museum/University Museum Expedition to...
22749     NaN  British Museum/University Museum Expedition to...

                 Culture Area Culture     Current Location Date Made Depth  \
0      Northeast Culture Area     NaN  Collections Storage       NaN   NaN
1      Northeast Culture Area     NaN  Collections Storage       NaN   NaN
2      Northeast Culture Area     NaN  Collections Storage       NaN   NaN
3      Northeast Culture Area     NaN  Collections Storage       NaN   NaN
4      Northeast Culture Area     NaN  Collections Storage       NaN   NaN
...                       ...     ...                  ...       ...   ...
22745                     NaN     NaN  Collections Storage       NaN   NaN
22746                     NaN     NaN  Collections Storage       NaN   NaN
22747                     NaN     NaN  Collections Storage       NaN   NaN
22748                     NaN     NaN  Collections Storage       NaN   NaN
22749                     NaN     NaN  Collections Storage       NaN   NaN

       ... Outside Diameter        Period  \
0      ...              NaN           NaN
1      ...              NaN           NaN
2      ...              NaN           NaN
3      ...              NaN           NaN
4      ...              NaN           NaN
...    ...              ...           ...
22745  ...              NaN           NaN
22746  ...              NaN  Babylonian I
22747  ...              NaN        Pre-Ur
22748  ...          14.6 cm           NaN
22749  ...          14.6 cm           NaN

                                             Provenience       Section  \
0      United States of America | New Jersey | Burlin...      American
1      United States of America | New Jersey | Burlin...      American
2      United States of America | New Jersey | Burlin...      American
3      United States of America | New Jersey | Burlin...      American
4      United States of America | New Jersey | Burlin...      American
...                                                  ...           ...
22745                                          Iraq | Ur  Near Eastern
22746                                               Iraq  Near Eastern
22747                                               Iraq  Near Eastern
22748                                          Iraq | Ur  Near Eastern
22749                                          Iraq | Ur  Near Eastern

      Site Name Subject Technique Thickness   Width              name
0           NaN     NaN   Chipped       NaN  5.5 cm  Projectile Point
1           NaN     NaN   Chipped       NaN  4.6 cm  Projectile Point
2           NaN     NaN   Chipped       NaN  4.9 cm             Stone
3           NaN     NaN       NaN       NaN    9 cm              Celt
4           NaN     NaN       NaN       NaN    5 cm         Implement
...         ...     ...       ...       ...     ...               ...
22745       NaN     NaN       NaN       NaN     NaN              Bowl
22746       NaN     NaN       NaN       NaN     NaN     Cylinder Seal
22747       NaN     NaN       NaN       NaN     NaN     Cylinder Seal
22748       NaN     NaN       NaN       NaN     NaN              Bowl
22749       NaN     NaN       NaN       NaN     NaN              Bowl

[22750 rows x 31 columns]

In [23]:
combined_df.to_csv('final_scarped_data.csv', index=False, encoding='utf-8')